/* gamepreview.css */



.game-preview-card {
    font-size: 0.8em;
    padding: 1em;
    background-color: #2c2c2c;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.game-preview-card:hover {
    transform: scale(1.05);
}


.game-preview-banner {
    width: 100%;
    height: 7em;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #444;
}

.game-preview-header {
    background-color: #444;
    padding: 1em;
    text-align: center;
    position: relative;
}

.gm-name {
    font-size: 1em;
    color: #aaa;
    position: absolute;
    top: 10px;
    left: 15px;
}

.game-title {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
}

.game-preview-body {
    padding: 1em;
    font-size: 1em;
    color: #ddd;
    flex-grow: 1;
}

.game-info {
    margin: 0;
    line-height: 1.8;
}

.game-description {
    margin-top: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.game-preview-footer {
    background-color: #333;
    padding: 1em;
    text-align: right;
}

.players-info {
    font-size: 1em;
    color: #aaa;
}
