/* Consolidated styles */

.find-game-container,
.my-games-container {
    height: 100%; /* Full height of the viewport */
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; /* Avoid double scrolling on the body */
}

.game-cards-grid {
    max-height: calc(100vh - 50px); /* Subtract any fixed elements like header/footer */
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
}


.game-card-wrapper {
    display: flex;
    justify-content: center;
    /* Removed align-items: center; to allow top alignment */
    width: 100%;
}

/* Game Preview Styles */
.game-preview-card {
    font-size: 0.7em;
    padding: 0;
    background-color: #2c2c2c;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
    justify-content: space-between; /* Ensures footer is at the bottom */
    height: 100%; /* Ensures the card takes up the full height of its container */
    aspect-ratio: 3/4;
}


.game-preview-card:hover {
    transform: scale(1.05);
}

.game-preview-banner {
    width: 95%;
    height: 0;
    padding-top: 40%; /* 5:2 aspect ratio */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0; /* Prevent the banner from shrinking */
    margin: 2.5%;;
}

.game-preview-header {
    background-color: #333;
    height: 10px;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.gm-name {
    font-size: 1em;
    color: #aaa;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.system {
    font-size: 1em;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 8px;
    font-weight: bold;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    2px 0px 0 #000,
    -2px 0px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000;

}

.game-title {
    font-size: 2em;
    color: #fff;
    margin: 0; /* Remove any default margins */
    padding: 0;
    font-weight: bold;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    2px 0px 0 #000,
    -2px 0px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000;

}

.icon-placeholder {
    display: inline-block;
    width: 1em; /* This matches the width of most Font Awesome icons */
    vertical-align: middle; /* Align it with the text */
}


.game-preview-body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.long-info {
    margin: 0;
    line-height: 1.6;
    font-size: 1em;
    white-space: nowrap; /* Prevents automatic line breaks */

}

.game-description {
    flex: 1;
    overflow-y: auto;
    margin-top: 1em;
    white-space: normal;
    padding: 3px;
}
.game-preview-footer {
    background-color: #333;
    padding: 1em;
    text-align: right;
}


/* Specific My Games Styles */
.form-grid-four-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.create-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #45a049;
}

.game-preview-card .tags-footer-container {
    font-size: 1.2em;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap;
    padding: 5px 0;
    text-align: left; /* Ensures tags are aligned to the left */
}

.game-preview-card .tags-container {
    display: inline-flex; /* Ensures tags stay in one line */
    gap: 0.2em;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.game-preview-card.tag-icon {
    display: inline-block;
    vertical-align: middle;
}


.tags-footer-container::-webkit-scrollbar {
    height: 4px; /* Makes the scrollbar very thin */
}

.tags-footer-container::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded scrollbar thumb */
}


.banner-upload {
    display: block;
    margin: 0; /* Reset margin to avoid extra space */
    vertical-align: middle; /* Center vertically within inline elements */
    height: auto; /* Ensure the input field adjusts to its content */
}