
.profile-info,
.change-password {
    width: 40%; /* Adjust the width as needed to create two columns */
    display: inline-block;
    vertical-align: top;
}


.profile-info label,
.change-password label {
    font-weight: bold;
    display: block;
}


.input,
.textarea,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #2e2e2e;
    color: #ffffff;
}

button {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
