/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #282828;
    color: #e0e0e0;
    height: 100vh;
    width: 100vw;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* General code styling */
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Scrollbar styling */
::-webkit-scrollbar-button {
    display: none;
}

/* General input, select, button styling for unused elements */
input,
select,
button {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Sleek Scrollbars (Global) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark grey for scrollbar thumb */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Lighter grey on hover */
}

::-webkit-scrollbar-track {
    background-color: #222; /* Darker background for scrollbar track */
    border-radius: 4px;
}
